.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.news-list-container {
  background-color: white;
  display: flex;
  flex-flow: wrap;
}

.news-story-container {
  background-color: white;
  text-align: left;
  font-size: 14px;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
  filter: drop-shadow(0 0 0.2rem indigo);
  min-width: 200px;
}