.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.news-story-container {
  text-align: left;
  font-size: 14px;
  border: 1px lightblue solid;
  padding: 5px;
  margin: 20px;
}